:root {
  --krasa: rgb(76, 184, 184);
    --header-height: 60px;
}
html[data-theme="dark"]{
    --krasa: rgb(185, 62, 62);
    --background-krasa: rgb(58, 58, 58);
}

header {
    width: 100vw;
    height: var(--header-height);
    background-color: var(--krasa);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
}


main {
    margin-top: var(--header-height);
    background: var(--background-krasa);
}

body {
    margin: 0;
    background: var(--background-krasa);
}

h1 {
    color: var(--krasa);
}
p {
    color: var(--krasa);
}
h2 {
    color: var(--krasa);
}










