:root {
    --krasa: rgb(236, 205, 180);
    --background-krasa: rgb(240, 237, 212);
    --accent-krasa:rgb(249, 251, 231);
    --krasa2: black;
      --header-height: 60px;
  }
  
  html[data-theme="dark"]{
    --krasa: rgb(92, 70, 156);
    --background-krasa: rgb(29, 38, 125);
    --accent-krasa:rgb(12, 19, 79);
    --krasa2:white;
}

header {
    width: 100vw;
    height: var(--header-height);
    background-color: var(--krasa);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
}


main {
    margin-top: var(--header-height);
    background: var(--background-krasa);
}

body {
    margin: 0;
    background: var(--background-krasa);
}

h1 {
    color: var(--krasa2);
}
p {
    color: var(--krasa2);
}
h2 {
    color: var(--krasa2);
}


